<script src="https://unpkg.com/vue"></script>

<style type="text/css">
	#caixas {

		display: flex;
		justify-content: space-around;
	}

	.demo {

		width: 100px;
		height: 100px;
		background-color: gray;
	}

	.c1 {

		background-color: red;
	}

	.c2 {

		background-color: green;
	}

	.c3 {

		background-color: blue;
	}

	.girar {

		transform: rotate(45deg);
	}
</style>

<div id="app">

	<div id="caixas">
		<div class="demo" :style="{'background-color': cor }"></div>
		<div class="demo" :style="[meuEstilo, {height: altura}]"></div>
		<div class="demo"></div>
	</div>
	<hr>
	<input type="text" v-model="cor">
	<input type="text" v-model="largura">

</div>

<script>
	new Vue({

		el: "#app",
		data: {

			cor: 'red',
			largura: 100,
			altura: 50,
			incrementar: true
		},
		computed: {

			meuEstilo() {

				return {
					backgroundColor: this.cor,
					width: `${this.largura}px`
				}
			}
		},
		watch: {

			largura() {

				setTimeout(() => {

					if (this.incrementar) {

						this.incrementar = this.largura < 250;
						this.largura = parseInt(this.largura) + 4;

					} else {

						this.incrementar = this.largura > 10 ? false : true;
						this.largura = parseInt(this.largura) - 4;
					}
				}, 10);
			}
		}
	});
</script>